
div {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;

}

body {
    display: flex;
    flex-direction: column;
    background: white;
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) { 

}